#addBody {
  background-color: #B4ADA7;
  font-family: 'Montserrat', sans-serif;
}

#pine {
  height: 3em;
  width: 3em;
  margin: 5px;
}

#addFormTitle {
  font-weight: 1000;
}

#addButton {
  background-color: #587992;
  color: #fff;
}