#editBody {
  background-color: #B4ADA7;
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-weight: 1000;
}

#pine {
  height: 3em;
  width: 3em;
  margin: 5px;
}

#add {
  background-color: #3C5B59;
  color: #fff
}

#editFormTitle {
  font-weight: 1000;
}

#editButton {
  background-color: #587992;
  color: #fff;
}