body {
  background-color: #B4ADA7;
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-weight: 1000;
}

#pine {
  height: 3em;
  width: 3em;
  margin: 5px;
}

#mapid {
  width: 60em;
  height: 40em;
  border: 2px solid black;
  margin: 30px;
}

#add {
  background-color: #3C5B59;
  color: #fff
}

#edit {
  background-color: #587992;
  color: #fff;
}

#delete {
  background-color: #846D74;
  color: #fff
}

.fas {
  margin: 2px;
}